.hero-banner {
    width: 100%;
    height: 150px;
    background-image: url("https://t3.ftcdn.net/jpg/03/81/71/16/360_F_381711648_RWNGx4G3NNe7IVksImuHt45wWwL4A1mS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

.herotext {
    font-size: 30px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: rgb(176, 206, 176);
}